# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.

# C++ source directories
*.[oa]
*~
.*.swp
*.il
*.depend*
*.mod
\#*#
.#*

# example directories
#*~
*.soln
*.log
*.gplt
*.plt
tecplot.phy
*.e*
*.o*
.gm_mpi
*.core
*.dat
*.txt

# latex document directories
#*~
*.ps
*.pdf
*.aux
#*.log
*.dvi
*.toc
*.idx
*.tex
*.sty
*.ilg
*.ind
*.ttf

# html document directories
*.html
*.png
*.gif
*.css
iamges.tex
images.log
images.aux
images.pl
labels.pl

# misc
tags
.DS_Store

# 2D executables
cffc2D
icemcfd2tecplot
icemcfd2grid2dquad
advectdiffuse2D
chem2D
dusty2D
electrostatic2D
euler2D
hightemp2D
ion5moment2D
lespremixed2D
levelset2D
navierstokes2D
embeddedboundaries2D
gaussian2D
rte2D

# 3D executables
cffc3D
euler3Dpolytropic
euler3Dthermallyperfect
navierstokes3Dpolytropic
navierstokes3Dthermallyperfect
fans3Dpolytropic
fans3Dthermallyperfect

# unit testing directories
journal.tut
log.tut

#dependencies
src_2D/Depend
src_3D/Depend
